@import "@repo/client-auth/theme.css";
@import "tailwindcss";

@layer utilities {
  .fullscreen-center {
    @apply h-screen flex flex-col items-center justify-center;
  }
  /** total animation time is 4s (fade-out plays after 3s and lasts 1s) */
  .developer-fade {
    animation:
      developer-fade-in 1s linear forwards,
      developer-fade-out 1s linear 3s forwards;
  }
}

@keyframes developer-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes developer-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
